// Esta es la variable que usaremos como tamaño por defecto
$defaultFontSize: 16;

// Estos son los tamaños para las media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// COLORS
$color-main-purple: #635FC7;
$color-black: #000112;
$color-very-dark-grey: #20212C;
$color-dark-grey: #2B2C37;
$color-lines-dark-mode: #3E3F4E;
$color-medium-grey: #828FA3;
$color-lines-light-mode: #E4EBFA;
$color-light-grey-light-mode: #F4F7FD;
$color-white: #FFFFFF;
$color-red: #EA5555;
$color-red-hover: #FF9898;

// FONTS
