.container-subtasks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    &-list {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
}

.subtask {
    width: 100%;
}

.button-delete {
    font-size: 1rem;
    color: $color-medium-grey;
}