@import '../core/reset';
@import '../core/animations';
@import '../core/mixins';
@import '../core/variables';

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &-title {
        font-size: 1.125rem;
    }

    &-fieldset-title {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .fieldset {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .label {
        @include label
    }

    .input {
        @include border;
    }

    ::placeholder {
        color: #949fbabf;
    }

    .textarea {
        @include border;
        line-height: 1.4375rem;
        height: 7rem;
    }

    .error-board-name {
        border: solid 1px rgba(255, 0, 0, 0.737);
    }

    .error-board-name-message {
        display: flex;
        align-items: center;
        font-size: 0.65rem;
        gap: 0.3rem;
        color: rgba(255, 0, 0, 0.737);

        &-icon {
            font-size: 1rem;
        }
    }
}

