@import '../core/reset';
@import '../core/animations';
@import '../core/mixins';
@import '../core/variables';

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &-title {
        font-size: 1.125rem;
    }

    &-fieldset-title {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .fieldset {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .label {
        @include label
    }

    .input {
        @include border;
    }

    ::placeholder {
        color: #949fbabf;
    }

    .textarea {
        @include border;
        line-height: 1.4375rem;
        height: 7rem;
    }
}

