@import './core/reset';
@import './core/animations';
@import './core/mixins';
@import './core/variables';

.main {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    padding: 1.25rem 1rem;
}