@import './core/reset';
@import './core/animations';
@import './core/mixins';
@import './core/variables';
@import './Header.scss';
@import './Main.scss';
@import './ModalViewTask.scss';
@import './reusableComponents/Modal.scss';

.main {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    color: $color-black;
    background-color: $color-light-grey-light-mode;
    width: auto;
    overflow-y: hidden;
}